<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <nav class="nav">
      <a class='little-shop' href='/'>LittleShop</a>
      <a class='right-links' href='/merchants'>Merchants</a>
      <a class='right-links' href='/items'>Items</a>
      <a class='right-links' href='/invoices'>Invoices</a>
    </nav>
  </body>
</html>
