<nav>
  <a class='plain link' href='/'>LittleShop</a>
  <a class='plain link' href='/merchants'>Merchants</a>
  <a class='plain link' href='/items'>Items</a>
  <a class='plain link' href='/invoices'>Invoices</a>
</nav>
