<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Merchant Dashboard</title>
  </head>
  <body>
    <nav>
      <a class="plain link" href="/">LittleShop</a>
      <a class="plain link" href="/merchants">Merchants</a>
      <a class="plain link" href="/items">Items</a>
      <a class="plain link" href="/invoices">Invoices</a>
    </nav>
    <header>
      <h1>Merchant Dashboard</h1>
    </header>
    <section class="top-merchants">
      <div class="most-items">
        <b>Merchant With Most Items:</b><br/>

      </div>
      <div class="highest-price">
        <b>Merchant With Highest Priced Item</b></br>
      </div>
    </section>

  </body>
</html>
