<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/main.css">
    <title>Merchants</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <nav>
      <a class="little_shop" href="/">LittleShop</a>
      <a class="right_links" href="/merchants">Merchants</a>
      <a class="right_links" href="/items">Items</a>
      <a class="right_links" href="/invoices">Invoices</a>
    </nav>
    <header>
      <a class="dashboard" href="/merchant/dashboard">Dashboard</a>
      <h1>Merchants</h1>
          <a class="create-button" href="/merchants/new">Create a New Merchant</a>
    </header>


  <table>
    <% all_merchants.each do |merchant| %>
      <!-- <tbody> -->
        <tr>
          <td>
            <a href="/merchants/<%= merchant.id %>"><%= merchant.name %></a>
              <a class="edit-button" href="/merchants/<%= merchant.id %>/edit">Edit</a>
            <form method="post" action="/merchants/<%= merchant.id %>">
              <input type="hidden" name="_method" value="delete">
              <button class="delete_merchant" type="submit" value="delete">Delete</a>
            </form>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>



  </body>
</html>
