<!DOCTYPE html>
<html>
  <head>
    <%= erb(:'partials/static_links') %>
    <title>Create New Merchant</title>
  </head>
  <body>
    <%= erb(:'partials/header') %>
    <section class="header-section">
      <ul>
        <li><h2>Create New Merchant</h2></li>
      </ul>
    </section>

    <section class="form-box">
      <form class="create-item" action="/merchants" method="post">
        <p class="input-label">Name</p>
        <input id="Name" type="text" name="merchant[name]">
        <section class="buttons">
          <a href="/merchants">Cancel</a>
          <input type="submit" value="Create Merchant">
        </section>
      </form>
    </section>
  </body>
</html>
