<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>Items Dashboard</title>
  </head>

  <body>
    <header>
      <h1><a href="/">Little Shop</a></h1>
      <nav>
        <ul>
          <li><a href="/merchants">Merchants</a></li>
          <li><a href="/items">Items</a></li>
          <li><a href="/invoices">Invoices</a></li>
        </ul>
      </nav>
    </header>

    <section class="header-section">
      <ul>
        <li><h2>Items Dashboard</h2></li>
      </ul>
    </section>

    <section class="cards">
      <ul>
        <li class="card-item">
          <h1>Total Item Count</h1>
          <h2><%= Item.count %></h2>
        </li>
        <li class="card-item">
          <h1>Avg Price Per Item</h1>
          <h2>$<%= Item.average(:price).round(2) %></h2>
        </li>
        <li class="card-item">
          <h1>Item by Age</h1>
          <h1>Newest</h1>
          <h4><%= Item.newest_item %></h2>
          <h1>Oldest</h1>
          <h4><%= Item.oldest_item %></h2>
        </li>
      </ul>
    </section>

  </body>
</html>
