<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>Edit Item</title>
  </head>
  <body>
    <header>
      <h1><a href="/">Little Shop</a></h1>
      <nav>
        <ul>
          <li><a href="/merchants">Merchants</a></li>
          <li><a href="/items">Items</a></li>
          <li><a href="/invoices">Invoices</a></li>
        </ul>
      </nav>
    </header>

  <section class="header-section">
    <ul>
      <li><h2>Edit <%= item.title %></h2></li>
    </ul>
  </section>

  <section class="form-box">
    <form class="create-item" action="/items/<%= item.id %>" method="post">
      <p class="input-label">Merchant</p>
        <select name="update[merchant_id]" id="Merchant">
          <% all_merchants.order(:name).each do |merchant| %>
            <option value="<%= merchant.id %>"><%= merchant.name %></option>
          <% end %>
        </select>
      <p class="input-label">Title</p>
        <input id="Title" type="text" name="update[title]" required>
      <p class="input-label">Description</p>
        <input id="Description" type="text" name="update[description]" required>
      <p class="input-label">Price</p>
        <input id="Price" type="text" name="update[price]" required>
      <p class="input-label">Image URL</p>
        <input id="Image URL" type="text" name="update[image]" required>
      <section class="cancel-submit">
        <a class="cancel-button" href="/invoices">Cancel</a>
        <input type="hidden" name="_method" value="patch">
          <button class="patch-button" type="submit" value="patch">Update Item</button>
      </section>
    </form>
  </section>
</body>
</html>
