<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Items</title>
  </head>

  <body>
    <header>
      <h1><a href="/">Little Shop</a></h1>
      <nav>
        <ul>
          <li><a href="/merchants">Merchants</a></li>
          <li><a href="/items">Items</a></li>
          <li><a href="/invoices">Invoices</a></li>
        </ul>
      </nav>
    </header>

    <section>
      <a href="/merchant/dashboard">Items Dashboard</a>
      <ul>
        <li><h1>Items</h1></li>
        <li><a  href="/items/new">Create a New Item</a></il>
      </ul>
    </section>

    <div class="cards">
      <ul>
        <% all_items.each do |item| %>
          <li class="card item" >
            <img src="<%= item.image %>" alt="item photo">
            <a href="/items/<%= item.id %>"><%= item.title %></a>
            <h1><%= item.price %></h1>
          </li>
        <% end %>
      </ul>
    </div>

  </body>
</html>
