body {
  font-style: Arial
}

nav {
  width: 820px;
  display: inline-block;
  font-size: 17px;
  padding: 5px 20px;
  border-style: solid;
}

.little-shop {
  text-decoration: none;
  float: left;
  color: black
}

.right-links {
  text-decoration: none;
  float: right;
  padding-left: 30px;
  font-size: 17px;
  color: black;
}

header {
  display: inline-block;
  width: 820px;
  background-color: #A9A9A9;
  padding: 10px 20px;
  border-style: solid;
}

h1 {
  padding-left: 335px;
  padding-bottom: 5px;
  margin: 0px 0px;
}

.dashboard {
  margin-top: 0px;
  font-size: 17px;
  float: left
}

.create-button {
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px;
  text-decoration: none;
  background-color: white;
  color: black;
  display: block;
  width: 200px;
  height: 20px;
  padding: 3px 3px;
  text-align: center;
  font-size: 17px;
}

table {
  border-collapse: separate;
  border-spacing: 5px;
  margin: 20px 70px;
}

td {
  vertical-align: middle;
  border-style: solid;
  display: inline;
}

tr {
  line-height: 16px;
}

table tr:nth-child(even) td{
  background-color: #A9A9A9;
}

a.merchant-name {
  display: inline-block;
  width: 580px;
  padding: 0px 10px;
}

form.edit-button {
  display: inline-block;
  margin-top: 0px
}

form.delete-button {
  display: inline-block;
}

button.edit-button {
  background-color: #ffe066;
  width: 50px;
  border-style: solid;
  border-color: black;
  box-shadow: 2px 2px;
  margin-bottom: 3px
}

button.delete-button {
  background-color: #ff9999;
  width: 50px;
  border: 1px solid #000000;
  box-shadow: 2px 2px;
}
