nav {
  width: 100%;
  display: inline-block;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: solid;
  border-color: medium;
}

a.little_shop:link {
  text-decoration: none;
  color: black;
}

a.right_links:visited {
  color: black;
}

.little_shop {
  float: left
}

.right_links {
  float: right;
  padding-left: 30px;
  font-size: 20px;
}

header {
  display: inline-block;
  width: 100%;
  background-color: #ddddd;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
  border-style: solid;
  font-size: 20px;
}

h1 {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

a.dashboard {
  margin-top: 30px;
}

.create_button {
  text_align: center;
}
