<!DOCTYPE html>
<html class="front-pages">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>Little Shop</title>
  </head>
  <body class="front-page">
    <ul>
      <li class="front-page-404">
        <a class="link-404" href="/">Oops...Little Shop is This Way</a>
      <li class="front-page-links">
        <a class="front-page-link" href="/merchants">Merchants</a>
        <a class="front-page-link" href="/items">Items</a>
        <a class="front-page-link" href="/invoices">Invoices</a>
      </li>
    </ul>
  </body>
</html>
